<template>
  <q-page class="flex flex-center">
<q-card class="my-card" style="width: 50rem;">
      <q-card-section>
        <div class="text-h6">My Todolist</div>
        <div class="text-subtitle2 text-italic">--reminder your day--</div>
      </q-card-section>

      <q-separator />

      <q-input filled dense debounce="300" v-model="filter" placeholder="My List...">
        <template v-slot:append>
             <q-btn flat icon="send" />
        </template>
      </q-input>
      <q-card-actions vertical>
        <q-btn flat>Action 1
             <q-btn flat icon="edit" />
             <q-btn flat icon="delete" />

        </q-btn>
         <q-separator />
        <q-btn flat>Action 2
            <q-btn flat icon="edit" />
             <q-btn flat icon="delete" />
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Todolist'
}
</script>
